<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel = 'stylesheet' href = '/style.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Illya Fansite - Gameplay</title>
  </head>

  <body>
    <div class = 'scroll flex hidden'>
        <ul class = 'flex column'>
            <i class="largeFont fa-solid fa-xmark"></i>
        <% for(let i=1; i < 19; i++) {%>
      <li class = 'mediumFont'><a href = '#img<%=[i]%>'>Section1-<%=[i]%></a></li>
        <% } %>
      </div>
      <div class = 'scroll bar2 hidden'>
        <ul class = 'flex column'>
            <i class="largeFont fa-solid fa-xmark"></i> 
        <% for(let i=1; i < 6; i++) {%>
        <li class = 'mediumFont'><a href = '#image<%=[i]%>'>Section2-<%=[i]%></a></li>
        <% } %>
        </ul>
    </div>

    <header>
        <h1 class = 'flex justifyContent largeFont'><a href = "/">Illya Fansite</a></h1>
          <!-- <h3 class = "date">07&ndash;20</h3> -->
          <nav class = 'flex' id = 'nav'>
            <ul class = 'flex'><!--
            --><li><a class = 'regularFont' href = "/"> Home</a></li><!--
            --><li><a class = 'regularFont' href = "/about">About</a></li><!--
            --><li><a class = 'regularFont' href = "/gameplay"> Gameplay</a></li><!--
            --><li><a class = 'regularFont' href = "/photos"> Photos</a></li><!--
            --><li><a class = 'regularFont' href =  "/contact">Contact</a></li>
          </ul>
          </nav>
  
  </header>
<body class = 'photos'>


    <div class= 'flex section2 row'><i class="largeFont fa-solid fa-bars"></i> <i class="image2 largeFont fa-solid fa-bars"></i></div>

    <section class ='flex alignItems column illya'>

        <h2 class = 'mediumFont'>Click To View Full Image!</h2>
        <% let index = 0; %> 

        <% for(let i=1; i < 19; i++) {%>

            <section class = 'flex' id = 'img<%=[i]%>'>
                <% index+=1; %> 
                <a target = '_blank' href = '/photos/<%= [index] %>.jpg'><img src = '/photos/<%= [index] %>.jpg' class = 'jpg<%= [index] %>'></a>
                <% index+=1; %> 
                <a target = '_blank' href = '/photos/<%= [index] %>.jpg'><img src = '/photos/<%= [index] %>.jpg' class = 'jpg<%= [index] %>'></a>
                <% index+=1; %> 
                <a target = '_blank' href = '/photos/<%= [index] %>.jpg'><img src = '/photos/<%= [index] %>.jpg' class = 'jpg<%= [index] %>'></a>
            </section>

            <% } %>


            <% let illya = 0; %> 

            <% for(let i=1; i < 6; i++) {%>
    
                <section class = 'flex' id = 'image<%=[i]%>'>
                    <% illya+=1; %> 
                    <a target = '_blank' href = '/photos/<%= [illya] %>.png'><img src = '/photos/<%= [illya] %>.png' class = 'png<%= [illya] %>'></a>
                    <% illya+=1; %> 
                    <a target = '_blank' href = '/photos/<%= [illya] %>.png'><img src = '/photos/<%= [illya] %>.png' class = 'png<%= [illya] %>'></a>
                    <% illya+=1; %> 
                    <a target = '_blank' href = '/photos/<%= [illya] %>.png'><img src = '/photos/<%= [illya] %>.png' class = 'png<%= [illya] %>'></a>
                </section>
    
                <% } %>

    </section>
</body>

<footer class = 'flex' id = 'footer'>
    <small class = 'flex justifyContent alignItems'>Illya Fansite &copy; choir</small>
    <ul class = 'flex'>
      <li><a href = 'https://www.facebook.com/richard.choi.54772/about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248'><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href = 'https://www.linkedin.com/in/richard-choir/'><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href = 'https://www.instagram.com/225kh_drw/?hl=en'><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href = 'https://twitter.com/choir241'><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
      <nav class= "flex">
          <ul class = 'flex'><!--
          --><li><a class = 'smallFont' href = "/"> Home</a></li><!--
          --><li><a class = 'smallFont' href = "/about">About</a></li><!--
          --><li><a class = 'smallFont' href = "/gameplay"> Gameplay</a></li><!--
          --><li><a class = 'smallFont' href = "/photos"> Photos</a></li><!--
          --><li><a class = 'smallFont' href =  "/contact">Contact</a></li>
  </ul>
  </nav>
  </footer>
  <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
  <script src="/photos.js"></script>
  </body>
</html>
